@font-face {
    font-family: "PFDinTextCondPro-light";
    src: url("../font/pfdintextcondpro-light-webfont.eot");
    src: url("../font/pfdintextcondpro-light-webfont.eot?#iefix") format("embedded-opentype"),
        url("../font/pfdintextcondpro-light-webfont.woff") format("woff"),
        url("../font/pfdintextcondpro-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PFDinTextCondPro-Reg";
    src: url("../font/pfdintextcondpro-regular-webfont.eot");
    src: url("../font/pfdintextcondpro-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/pfdintextcondpro-regular-webfont.woff") format("woff"),
    url("../font/pfdintextcondpro-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
b, strong {
    font-family: PFDinTextCondPro-Reg;
    font-weight: normal;
    font-style: normal;
}
a{
    color: @gray-dark;
    &:hover{
        color: @brand-color-dark;
        text-decoration: none;
        transition: 0.25s;
    }
    &:not(:hover) {
        transition: 0.25s;
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
p {margin: 0;}
.form-control {
    box-shadow: none;
}

.left{ float: left;}
.right{ float: right;}
label{
    font-weight: normal;
}
textarea:focus,
input:focus{
    box-shadow: none;
}
*:focus,
*:visited,
a:focus{
    outline: none;
}
/*---------------*/

mark{
    background: none;
    color: @brand-color;
    padding: 0 @site-padding / 2;
}
.center-el{ text-align: center;}

.container {
    margin: 0 auto;
    padding: 0 @site-padding;
    position: relative;
    width: 980px;
}

.sidebar {
    float: left;
    margin-right: @site-padding;
    width: 250px;
}
.content {
    overflow: hidden;
    padding-bottom: @site-padding * 10;
    > * {
        margin-bottom: @site-padding;
    }
}

@import "variables.less";

@import "alert.less";
@import "benefits.less";
@import "btn.less";
@import "check.less";
@import "form.less";
@import "header.less";
@import "input.less";
@import "modal.less";
@import "popUp.less";
@import "radio.less";
@import "scroll.less";
@import "step.less";

@import "./media/media-320-767.less";
@import "./media/media-768-980.less";